<div class="jumbotron">

    <h2>Prijava</h2>

    @if (@IsPost)
    {
        <div class="alert alert-danger">
            <p>Prijava nije uspjela</p>
        </div>
    }

    <form id="login_form" method="post" action="login">
        <p>
            <label for="UserName">Korisničko ime:</label>
            <input type="text" id="nick" name="Nick" />
        </p>
        <p>
            <label for="UserPassword">Lozinka:</label>
            <input type="password" id="password" name="Password" />
        </p>
        <button type="submit" id="login">Prijava</button>
    </form>




</div>


@section scripts{

    <script type="text/javascript">



        $('#login').click(function () {


            if (document.getElementById("nick").value == "" ||  document.getElementById("password").value == ""  ) {

                alert("Niti jedno polje ne smije biti prazno.")
                      
            } 

        });

    </script>


}