<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron">

                <h2>Prijava</h2>

                <form id="login_form" method="post">
                    <p>
                        <label for="UserName">Korisničko ime:</label>
                        <input type="text" id="nick" name="Nick" />
                    </p>
                    <p>
                        <label for="UserPassword">Lozinka:</label>
                        <input type="text" id="password" name="Password" />
                    </p>
                    <input type="button" id="login" value="Prijava" />
                </form>



    
</div>
