<div class="jumbotron">

    <h2>Registracija</h2>

    @if (IsPost)
    {
        <div class="alert alert-danger">
            <p>Registracija nije uspjela</p>
        </div>
    }

    <form id="regForm" method="post" action="register">

        <p>
            <label for="userName"> Korisničko ime:</label>
            <input type="text" id="nick" name="Nick" />
        </p>

        <p>
            <label for="userEmail">E-mail:</label>
            <input type="text" id="email" name="Email" />
        </p>
        <p>
            <label for="userPasswors">Lozinka:</label>
            <input type="password" id="password" name="Password" />
        </p>
        <p>
            <label for="userPasswors">Potvrdite lozinku:</label>
            <input type="password" id="passwordConf" name="PassConf" />
        </p>

        <button type="submit" id="saveUser">Registriraj se</button>
    </form>




</div>


@section scripts{

    <script type="text/javascript">



        $('#saveUser').click(function () {


            if (document.getElementById("nick").value == "" || document.getElementById("email").value == "" || document.getElementById("password").value == "" || document.getElementById("passwordConf").value == "") {

                alert("Niti jedno polje ne smije biti prazno.")

            } else if (!(document.getElementById("password").value == document.getElementById("passwordConf").value)) {

                alert("Lozinke se ne podudaraju.");

            }

        });

    </script>


}