<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron">

    <h2>Registracija</h2>

        <form id="regForm" method="post">

            <p>
                <label for="userName"> Korisničko ime:</label>
                <input type="text" id="nick" name="Nick" />
            </p>
            <p>
                <label for="userPasswors">Lozinka:</label>
                <input password="text" id="password" name="Password" />
            </p>
            <p>
                <label for="userEmail">E-mail:</label>
                <input type="text" id="EmailR" name="E-mail" />
            </p>
          

            <input type="button" id="saveUser" value="Spremi" />
        </form>




</div>
